/* ==========Auto complete div style start==================*/
* {
	box-sizing: border-box;
}

body {
	font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
	position: relative;
	display: inline-block;
	width: 300px;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type="text"] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type="submit"] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.autocomplete-items {
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items:hover {
	background-color: DodgerBlue;
}


/* ==========Auto complete div style end==================*/
.bold {
	font-weight: bold;
}

.link {
	text-decoration: none;
	color: DodgerBlue;
	padding: 10px;
	margin: 5px;
	border: 1px solid #d4d4d4;
}


.active {
	background-color: DodgerBlue !important;
	color: aliceblue;
}